.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding-left: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background: #fff;
  font-family: Montserrat, sans-serif;
  margin: auto;
}

.btn {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  min-width: 176px;
  background: #fe2198;
  border-radius: 4px;
  padding: 10px 18px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: transform 500ms, background 500ms, border-radius 500ms;
}

.btn:hover, .btn:focus {
  background-color: #f45cad;
  border-radius: 16px;
}

.link {
  text-decoration: none;
  color: #fff;
}

.logo {
  font-weight: bold;
  font-size: 21px;
  line-height: 20px;
  max-width: 176px;
  margin: right 32px;
}

.logo:hover {
  color: #ffffff;
}

.logo-design {
  color: #ffffff;
  background: linear-gradient(180deg, #FFFFFF 54.69%, rgba(255, 255, 255, 0.31) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-decoration-color: transparent;
}

.logo-design--footer {
  font-size: 25px;
}

.section {
  background-color: #000000;
  width: 1280px;
  margin: auto;
  position: relative;
}

.text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.56;
  color: #fff;
}

.head-conteiner, .conteiner-hero, .hero-border, .icons__conteiner, .conteiner-left-icons, .icons__conteiner--centr, .icons__conteiner--right, .speakers__conteiner, .spekers__tabs--list, .galery__conteiner, .organizer .organizer__list, .form__section, .footer__section, .footer__conteiner, .footer__conteiner--list .footer__list, .footer__conteiner--icons, .footer__conteiner--icons .footer__icons, .conteiner__footer--time, .conteiner-promo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form label, .form input {
  font-size: 20px;
  line-height: 25px;
  color: #fff;
}

.footer__conteiner--list .footer__items {
  transition: transform 500ms, color 500ms;
}

.section-header {
  padding: 18px 32px;
}

.head-conteiner {
  justify-content: space-between;
}

.list-conteiner {
  display: inline-flex;
}

.link-ithems:hover,
.link-ithems:focus {
  color: #f73fa1;
  transition: transform 500ms, color 500ms;
}

.list-items {
  margin-right: 71px;
}

.list-items:last-child {
  margin-right: 0px;
}

.hero {
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.1em;
  color: #fff;
  z-index: 2;
}

.section-hero {
  padding: 18px 0 35px;
}

.conteiner-hero {
  flex-direction: column;
}

.text-hero {
  font-size: 43px;
  line-height: 52px;
  margin-bottom: 23px;
  z-index: 2;
}

.hero-border {
  flex-direction: column;
}

.hero-border::after {
  content: '';
  width: 293px;
  height: 5px;
  margin-top: 17px;
  border: 3.76667px solid #33e9e9;
  box-sizing: border-box;
  filter: blur(0.94167px);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.icons {
  padding-bottom: 74px;
}

.icons__conteiner {
  justify-content: flex-start;
}

.conteiner-left-icons {
  flex-direction: column;
  margin-left: 135px;
}

.icons-left-center {
  position: absolute;
  top: -116px;
  left: 210px;
}

.icons__text {
  max-width: 195px;
  margin-top: 45px;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}

.icons__conteiner--centr {
  flex-direction: column;
  margin-left: 175px;
}

.icons__conteiner--centr .icons__text {
  min-width: 279px;
  margin-top: 35px;
}

.icons__conteiner--right {
  position: relative;
  flex-direction: column;
  margin-left: 107px;
}

.icons__conteiner--right .icons__text {
  min-width: 320px;
  margin-top: 190px;
}

.icons__right {
  position: absolute;
  top: -51px;
  left: 75px;
  transform: rotate(-1deg);
}

.icons__right-2 {
  position: absolute;
  top: 17px;
  left: 120px;
}

.spekers {
  padding: 20px 0 20px;
}

.speakers__conteiner {
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
}

.head__text {
  font-weight: 600;
  font-size: 45px;
  line-height: 25px;
  color: #fff;
  text-align: center;
}

.spekers__list {
  display: flex;
  position: relative;
}

.spekers__tabs--list {
  margin-top: 80px;
  margin-bottom: 15px;
}

.tabs--ithem {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #757679;
  margin-left: 30px;
  cursor: pointer;
}

.tabs--ithem:hover,
.tabs--ithem:focus {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fe2198;
}

.tabs--ithem:first-child {
  margin-left: 0;
}

.curent {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fe2198;
}

.spekers__icon {
  position: absolute;
  top: -200px;
  right: -8px;
}

.spekers__ithem {
  margin-top: 175px;
  margin-left: 120px;
}

.spekers__ithem:first-child {
  margin-left: 0px;
}

.spekers__ithem:nth-child(2n) {
  margin-top: 235px;
}

.spekers__team {
  position: relative;
}

.spekers__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-top: 18px;
  margin-bottom: 7px;
  color: #fff;
}

.spekers__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.programs__conteiner {
  padding: 68px 0 64px;
  display: flex;
  flex-direction: column;
}

.programs__head--date {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 74px;
  margin-bottom: 14px;
}

.programs__head--date::after {
  content: '';
  position: absolute;
  width: 240px;
  height: 4px;
  border: 3.71667px solid #fe2198;
  filter: blur(0.92917px);
  border-radius: 5px;
  top: 54px;
}

.programs__ithem--date {
  margin-left: 78px;
}

.programs__ithem--date:first-child {
  margin-left: 0;
}

.programs__conteiner--spekers {
  padding-left: 136px;
  margin-top: 56px;
}

.programs__text {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
}

.curent__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 35px;
}

.programs__time {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.programs__time--list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 57px;
}

.programs__time--list:first-child {
  margin: 0;
}

.programs__time--text {
  min-width: 135px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  margin-right: 42px;
}

.programs__conteiner--about {
  display: flex;
  flex-direction: column;
  margin-left: 57px;
  text-align: left;
}

.programs__head--text {
  font-weight: 600;
  font-size: 25px;
  line-height: 11px;
  color: #fff;
  margin-bottom: 25px;
}

.programs__text--about {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.picture {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 70px 25px 64px 38px;
}

.picture__img--1st {
  margin-bottom: 25px;
  margin-right: 32px;
  border-radius: 10px;
}

.picture__img--2st {
  position: absolute;
  top: 70px;
  left: 656px;
  border-radius: 10px;
}

.picture__img--3st {
  margin-right: 32px;
  border-radius: 10px;
}

.picture__img--4st {
  position: absolute;
  top: 395px;
  left: 656px;
  border-radius: 10px;
}

.picture__img--5st {
  position: absolute;
  left: 656px;
  top: 737px;
  border-radius: 10px;
}

.picture__img--6st {
  position: absolute;
  right: 29px;
  top: 395px;
  border-radius: 10px;
}

.picture__img--7st {
  position: absolute;
  right: 29px;
  top: 715px;
  border-radius: 10px;
}

.galery__conteiner {
  flex-direction: column;
  margin-top: 60px;
}

.galery__conteiner .text-promo {
  margin-bottom: 20px;
}

.organizer {
  display: flex;
  flex-direction: column;
  padding: 0px 34px 40px 39px;
}

.organizer .organizer__list {
  margin-top: 75px;
}

.organizer .organizer__ithem {
  align-items: center;
  justify-content: center;
  margin-left: 60px;
}

.organizer .organizer__ithem:first-child {
  margin-left: 0;
}

.form__section {
  flex-direction: column;
  padding: 25px 0 146px 0;
}

.form {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form label {
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 24px;
}

.form input {
  min-width: 308px;
  height: 44px;
  padding: 22px 0 22px 16px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 4px;
  outline: none;
  font-weight: 600;
}

.form__imput:not(:placeholder-shown):valid:required {
  border-color: green;
}

.form__imput:not(:placeholder-shown):invalid:required {
  border-color: #FE2198;
}

.form__checkbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  align-items: center;
}

.check__text {
  display: flex;
  position: relative;
  font-size: 21px;
  line-height: 25px;
  align-items: center;
  color: #fff;
  flex-direction: row-reverse;
}

.check__text::before {
  content: "";
  height: 31px;
  width: 68px;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  margin-left: 53px;
  transition: background 500ms;
}

.check__text::after {
  content: "";
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 242px;
  transition: transform 500ms;
}

.check__policy:checked + .check__text::after {
  transform: translate(38px);
}

.check__policy:checked + .check__text::before {
  background: #FE2198;
}

.form__btn {
  padding: 11px 27px;
  max-width: 280px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  margin-top: 40px;
  color: #fff;
}

.form__picture--left {
  position: absolute;
  left: -486px;
  top: -51px;
}

.form__picture--right {
  position: absolute;
  right: -486px;
  top: -51px;
}

.footer__section {
  flex-direction: column;
}

.footer__conteiner {
  flex-direction: column;
}

.footer__conteiner--list {
  margin-top: 20px;
}

.footer__conteiner--list .footer__items {
  margin-top: 20px;
  margin-right: 65px;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.footer__conteiner--list .footer__items:last-child {
  margin-right: 0;
}

.footer__conteiner--list .footer__items:hover, .footer__conteiner--list .footer__items:focus {
  color: #fff;
}

.footer__conteiner--icons .footer__icons {
  margin-top: 20px;
}

.footer__conteiner--icons .footer__icons .footer__icons--list {
  margin-right: 50px;
}

.footer__conteiner--icons .footer__icons .footer__icons--list:last-child {
  margin-right: 0;
}

.footer__conteiner--icons .footer__icons .icons__ithem {
  fill: rgba(255, 255, 255, 0.7);
  max-width: 35px;
  transition: transform 500ms, fill 500ms;
}

.footer__conteiner--icons .footer__icons .icons__ithem:hover, .footer__conteiner--icons .footer__icons .icons__ithem:focus {
  fill: #fff;
}

.conteiner__footer--time {
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 18px;
}

.conteiner__footer--time .time__ithem {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

.conteiner__footer--time .time__ithem--color {
  color: #fff;
  margin-right: 18px;
}

.conteiner-promo {
  flex-direction: column;
  padding-bottom: 35px;
}

.icon-use {
  cursor: pointer;
}

.text-promo {
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  color: #fff;
}

.promo__list--text {
  margin-top: 29px;
  margin-bottom: 21px;
  text-align: center;
}

.promo__list--text:first-child {
  margin-bottom: 75px;
}

.icons-down {
  display: inline-block;
  width: 100px;
  height: 45px;
  border: none;
}

.img-left {
  position: absolute;
  top: 30px;
  z-index: 0;
}

.img-right {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 0;
}
/*# sourceMappingURL=main.css.map */